
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
	<title>projectportfolio!! </title>
</head>

<body>
	<!--Header(start)-->
	<table id="header" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="black">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<tr>
						<td>


						</td>

						<td>
							<font face="Comic sans MS" size="6" color=white>
								<b>I am -portfolio</b>
							</font>
						</td>

						<td width="15%">

						</td>

						<td>
							<a href="#home" style="text-decoration:none">
								<font face="Verdana" size="5" color=white>
									Home
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="#about" style="text-decoration:none">
								<font face="Verdana" size="5" color=white>
									About
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="#projects" style="text-decoration:none">
								<font face="Verdana" size="5" color=white>
									Projects
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="#achievements" style="text-decoration:none">
								<font face="Verdana" size="5" color=white>
									Achievements
								</font>
							</a>
						</td>

						<td>
							|
						</td>


					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Header(end)-->

	<!--Home(start)-->
	<table id="home" border="1" width="100%"
		cellpadding="20" cellspacing="0" bgcolor="black">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<tr>
						<td align="center" valign="middle">
							<h3>
								<font face="Times New Roman"
									size="6" color="#ffffff">
									Hi Humans!
								</font>
							</h3>

							<h2>
								<font face="Verdana" size="6"
									color="#4CAF50">
									<!-- Freelance Programmer -->
								</font>
							</h2>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Home(end)-->


	<!--About(start)-->
	<table id="about" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="orange">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="80%" align="center">
					<tr>
						<td height="180" align="center"
							valign="middle" colspan="2">
							<font face="Verdana" size="7"
								color="black">
								About Me
							</font>
							<hr color="#black" width="90">
						</td>
					</tr>

					<tr>
						<td width="60%">
							<img src="{{ url_for('static',filename='builtin/product-427-main-main-big-1637776993.jpg')}}">
						</td>

						<td width="60%">
							<font face="Verdana" size="4"
								color="black">
								Thanks for your interest, here
								is a quick story of me and this
								website.
								<hr color="black">
								portfolio An website
								and founder of this web.|--------
								--------------------------------
								--------------------------------
								-------------------------------
								<hr color="black">

								-----------------------------------
								------------------------------------
								--------------------------------------
								------------------------------------
								<hr color="black">

								--------------------------------------
								--------------------------------------
								---------------------------------------
								----------------------
								<hr color="black">
								your,
								<br>
								<b>portfolio</b>
							</font>
						</td>
					</tr>
				</table>
				<hr color="black">
				<hr color="black">
				<hr color="black">
			</td>
		</tr>
	</table>
	<!--About(end)-->


	<!--Projects(start)-->
	<table id="projects" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="black">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="80%" align="center">
					<tr>
						<td height="180" align="center"
							valign="middle" colspan="2">
							<font face="Verdana" size="7"
								color="white">
								Projects
							</font>
							<hr color="white" width="90">
						</td>
					</tr>

					<tr>
						<td height="10">
							<font face="Times New Roman"
								size="5" color="white">
								<ul>
									<li>
										project1
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										project2
										<a href="#" style="text-decoration:none"
											color="#c2c0c3">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										project3
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										project4
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										project5
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										project6
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										project7
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										project8
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										project9
										<a href="#" style="text-decoration:none">
											➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										project10
										<a href="#" style="text-decoration:none">
											➲
										</a>
									</li>



								</ul>
								<hr color="#c2c0c3">
								<hr color="#c2c0c3">
								<hr color="#c2c0c3">
								<hr color="#c2c0c3">
							</font>
						</td>

						<td width="45%">
							<img src="{{ url_for('static',filename='builtin/dfnvdfkj1.jpeg')}}" >
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Projects(end)-->

	<!--Achievement(start)-->
	<table id="achievements" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="black">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="80%" align="center">
					<tr>
						<td height="180" align="center" valign="middle">
							<font face="Verdana" size="7" color="orange">
								Achievements
								<hr color="orange" width="100">
							</font>
						</td>
					</tr>

					<tr>
						<td>
							<font face="Verdana" size="4" color="white">
								<ul>
									<li>
										<b>----------------</b>
										<ul>
											<li>
												________________________.
											</li>
											<li>
												_______________________
												__________.
											</li>
										</ul>
									</li>

									<li>
										<hr color="black">
										<hr color="black">
										<hr color="black">
										<b>----------------------</b>
										<ul>
											<li>
												___________________
											</li>
											<li>
												___________________________.
												___________________________.
											</li>
										</ul>
									</li>

									<li>
										<hr color="black">
										<hr color="black">
										<hr color="black">
										<b>-----------.</b>
										<ul>
											<li>
												______________________.
											</li>
											<li>
												____________________.

											</li>
											<hr color="black">
											<hr color="black">
											<hr color="black">
											<hr color="black">
											<hr color="black">
										</ul>
									</li>

								</ul>

							</font>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Achievement(end)-->





	<!--Footer1(start)-->
	<table id="footer" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="orange">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<td height="180" align="center"
							valign="middle" colspan="2">
							<font face="Verdana" size="7"
								color="black">
								Contact Me-
							</font>
							<hr color="#black" width="90">
						</td>
					<tr>
						<td width="13%" valign="top">
							<b>LinkedIn</b>
							<a href="#">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>GitHub</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>HackerRank</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>



						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>Twitter</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>Instagram</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>Email</b>
							<a href="#" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<b>Website</b>
							<a href="{{ url_for('web_page')}}" style="text-decoration:none">
								➲
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Footer1(end)-->


	<!--Footer2(start)-->
	<table id="footer" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="black">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<tr>
						<td width="80%" valign="top">
							<font face="Verdana"
								color="#4CAF50" size="5">
								Have a great day
							</font>
						</td>

						<td width="10%">
							<font face="arial" color="black" size="5">
								<a href="#header" style="text-decoration:none">
									<font face="Verdana" color="#4CAF50" size="6">
										<b>TOP</b>
									</font>
								</a>
							</font>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Footer2(end)-->

</body>

</html>
